/* CMAP: home page local styles */
body {
  background:#efebeb;
}
#mainWallHome {
  position: relative;
}
#mainWallImgHome {
  opacity: 1;
}
#homeDataBlock {
   background:#ededed;
}
.WallBlocks {
  position: absolute;
  z-index: 1;
}
#startButton {
  color: #003a84;
  font-family: Tahoma, sans-serif;
  font-size: 1.2vw;
  background: white;
  z-index: 1;
  position: absolute;
  font-weight: bold;
  transition: 0.3s;
  border: none;
  box-shadow: 0 0 0.2vw #003a84;
}
#startButton:hover, #startButton:focus {
  background: #f0f1ff;
  cursor: pointer;
  outline: none;
  font-size: 1.4vw;
}
#startButton:active {
  cursor: pointer;
  background: #003a84;
  color: white;
}
.DataBlocks {
  position: absolute;
  background: white;
  box-shadow: 0 0 0.2vw #003a84;
  height: 100%;
}
.DataBlockHeaders {
  text-align: left;
}
.StatusIndicatorsBlocks {
  width: 100%;
  position: relative;
}
.DataBlockHeaders {
  display: inline-block;
}

/* Left Indicator styles */
.Switch {
  position: relative;
  display: inline-block;
  height: 100%;
  float: right;
}

.Switch .CheckBox { 
  opacity: 0;
  width: 0;
  height: 0;
}

.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ec7474;
  -webkit-transition: .4s;
  transition: .4s;
}

.Slider:before {
  position: absolute;
  content: "";
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.CheckBox:checked + .Slider {
  background-color: #68bb76;
}

#shiftIndicator {
  display: inline-block;
  position: relative;
  background: #003a84;
  height: 100%;
  float: right;
  text-align: center;
  color: white;
  
}
.IconBlocks {
  display: inline-block;
  float: right;
}
.ModelIconImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main block indicators styles */
.MainIndicatorsBlocks {
  position: absolute;
  height: 100%;
}
.MainBlocksHeaders {
  text-align: center;
}

/* Circle diagram styles */
@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.Pie {
  --c: #68bb76;

  width:var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  font-weight: bold;
  font-family: sans-serif;
  color: #68bb76;
}
.Pie:before,
.Pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.Pie:before {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.Pie:after {
  inset:calc(50% - var(--b)/2);
  background:var(--c);
  transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.Animate {
  animation:p 1s .5s both;
}
.Animate:before {
  background-size:0 0,auto;
}
.Animate:after {
  content:none;
}
@keyframes p {
  from{--p:0}
}

/*Speedometer styles */
.SmallIndicators {
  width: 100%;
}
.Speedometers {
  position: relative;
  display: inline-block;
  position: absolute;
}
.SpeedometerIndicator {
  position: relative;
  display: block;
  margin: 0;
}
.SpeedometerNeedle {
  position: absolute;
  transform: rotate(-110deg);
  transition: 3s;
}
.Speedometer {
  width: 100%;
  height: 100%;
}
.SpeedometerValues {
  position: absolute;
  z-index: 2;
}

/* Annexes block styles */
#languageSlider {
  background-color: #003a84;
  z-index: 3;
}
.HelpButtons {
  width: 100%;
  height: 100%;
  border: none;
}
.HelpButtons:hover {
  cursor: pointer;
}

#logOutButton {
  background: url('../img/logout.png');
  background-size: cover;
}
#langButton {
  background: url('../img/lang.png');
  background-size: cover;
}
#infoButton {
  background: url('../img/info.png');
  background-size: cover;
}
#customerAuditHeader {
  width: 100%;
  margin: 0;
  text-align: center;
}
#interiorProgressBlock, 
#exteriorProgressBlock, 
#functioningProgressBlock, 
#engineProgressBlock, 
#drivingProgressBlock {
  background: #efebeb;
}
.AuditProgress {
  height: 100%;
}
.AuditValue {
  margin: 0;
  color: white;
  position: absolute;
  z-index: 3;
}


/* Dimensions styles */
/* DESKTOPS (1824px) */
@media screen and (max-width: 1824px) {
  .WallBlocks {
    width: 100%;
    height: 74%;
  }
  #startButton {
    width: 100%;
    height: 24%;
    margin: 69vh 0vw;
  }
  #statusBlock {
    width: 20%;
  }
  .DataBlockHeaders {
    font-size: 1vw;
    margin-left: 1vw;
  }
  .StatusIndicatorsBlocks {
    margin-top: 1.5vh;
    height: 5vh;
  }
  .DataBlockHeaders {
    margin: 1.05vh 0 0 1.2vw;
  }
  
  /* Left Indicator styles */
  .Switch {
    width: 22.5%;
    margin-right: 1.2vw;
  }
  .Slider:before {
    height: 4vh;
    width: 1.9vw;
    left: 0.3vw;
    bottom: 0.5vh;
  }
  .CheckBox:checked + .Slider:before {
    -webkit-transform: translateX(1.7vw);
    -ms-transform: translateX(1.7vw);
    transform: translateX(1.7vw);
  }
  .CheckBox:focus + .Slider {
    box-shadow: 0 0 0.1vw #68bb76;
  }
  .Slider {
    border-radius: 0.5vw;
  }
  .Slider:before {
    border-radius: 0.5vw;
  }
  #plantModeSlider {
    border-radius: 0;
  }
  #plantModeSlider:before {
    border-radius: 0;
  } 

  #shiftIndicator {
    width: 22.5%;
    margin-right: 1.2vw;
    font-size: 2vw;
  }
  .IconBlocks {
    width: 26%;
    margin: -0.7vh 0.9vw 0vh 0vw;
    height: 115%;
  }

  /* Main indicator blocks styles */
  #mainBlock {
    width: 58%;
    margin-left: 21%;
  }
  .MainIndicatorsBlocks {
    width: 49.5%;
  }
  #qualityBlock {
    margin-left: 51%;
  }
  .MainBlocksHeaders {
    font-size: 1vw;
  }

  .Pie {
    --w:19vw;
    --p:3vw;
    --b:3vw;

    margin: 1vh 3.8vw;
    font-size: 2vw;
  }

  /*Speedometers styles */
  .Speedometers {
    margin-left: 2.5vw;
    width: 10vw;
    height: 20vh;
  }
  .SpeedometerIndicator {
    width: 10vw;
  }
  .SpeedometerNeedle {
    width: 4vw;
    height: 9vh;
    left: 27%;
    top: 9%;
    transform-origin: 50% calc(100% - 0.4vw);
  }
  .SpeedometerValues {
    font-size: 1vw;
    margin: 12.5vh 3.8vw;
  }
  #dkdSpeedometerBlock, 
  #dkdQualitySpeedometerBlock {
    margin-left: 14.5vw;
  }

  /*Additional block styles */
  #annexesBlock {
    width: 20%;
    margin-left: 80%;
  }
  #logoutIconBlock, 
  #langIconBlock,
  #infoIconBlock {
    width: 11%;
    height: 80%;
    margin-top: 0.3vh;
  }

  #interiorProgressBlock, 
  #exteriorProgressBlock, 
  #functioningProgressBlock, 
  #engineProgressBlock, 
  #drivingProgressBlock {
    width: 50%;
    height: 75%;
    margin-top: 0.25vw;
  }
  .AuditValue {
    margin: 0.7vh 0.4vw;
    font-size: 0.9vw; 
  }
  
}