/* CMAP application general styles */

/* 1. General styles */ 

body {
  color: #003a84;
  font-family: Tahoma, sans-serif;
  opacity: 0;
  transition: 1s;
}

@font-face {
  font-family: "HyundaiStd";
  src: url("../../static/font/hyundai.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

header {
  width: 100%;
  position: relative;
}

#appLogo {
  height: 100%;
  float: left;
}
#appLogo:hover {
  cursor: pointer;
}

#appLogoImg {
  height: 100%;
}

#appLogoText {
  margin: 0;
  float: right;
}

#companyLogo {
  float: right;
}
#companyLogo:hover {
  cursor: pointer;
}

#companyLogoImg {
  width: 100%;
  height: 100%;
}

.MainWall {
  width: 100%;
  height: 90vh;
  position: relative;
  margin-top: 0.6vw;
  height: 91vh;
}
.MainWallImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  text-align: center;
}


/* 2. Dimension styles */

/* DESKTOPS (1824px) */
@media screen and (max-width: 1824px) {
  body {
    margin: 2vh 3vw 2vh 3vw;
  }
  header {
    height: 2.4vw;
  }
  #appLogo {
    width: 7.8vw;
  }
  #appLogoText {
    font-size: 1.7vw;
    padding-top: 0.25vw;
  }
  #companyLogo {
    margin-top: 0.3vw;
    width: 14%;
  }
  footer {
    font-size: 1vw;
  }
}

/* LAPTOPS (1224px) */
@media screen and (max-width: 1224px) {
  body {
    margin: 2.5vh 3.5vw 2.5vh 3.5vw;
  }
  header {
    height: 2.8vw;
  }
  #appLogo {
    width: 9.2vw;
  }
  #appLogoText {
    font-size: 2vw;
    padding-top: 0.25vw;
  }
  #companyLogo {
    margin-top: 0.4vw;
    width: 16%;
  }
  footer {
    font-size: 1.1vw;
  }
}

/* NET LAPTOPS (1024px) */
@media screen and (max-width: 1024px) {
  body {
    margin: 2.8vh 3.9vw 2.8vh 3.9vw;
  }
  header {
    height: 3.3vw;
  }
  #appLogo {
    width: 10vw;
  }
  #appLogoText {
    font-size: 2.2vw;
    padding-top: 0.4vw;
  }
  #companyLogo {
    margin-top: 0.4vw;
    width: 20%;
  }
  footer {
    font-size: 1.7vw;
  }
}

/* PADS (768px) */
@media screen and (max-width: 768px) {
  body {
    margin: 3vh  4.2vw 3vh 4.2vw;
  }
  header {
    height: 4.9vw;
  }
  #appLogo {
    width: 15vw;
  }
  #appLogoText {
    font-size: 3.2vw;
    padding-top: 0.5vw;
  }
  #companyLogo {
    margin-top: 0.8vw;
    width: 28%;
  }
  footer {
    font-size: 2.2vw;
    margin: 0;
  }
}

/* SMARTPHONES (480px) */
@media screen and (max-width: 480px) {
  body {
    margin: 3vh  4.2vw 3vh 4.2vw;
  }
  header {
    height: 7.2vw;
  }
  #appLogo {
    width: 21vw;
  }
  #appLogoText {
    font-size: 4.65vw;
    padding-top: 1.05vw;
  }
  #companyLogo {
    margin-top: 1.1vw;
    width: 40%;
  }
  footer {
    font-size: 3.7vw;
  }
}

/* MOBILE (360px) */
@media screen and (max-width: 360px) {
  body {
    margin: 2.5vh  3.8vw 2.5vh 3.8vw;
  }
  header {
    height: 8.3vw;
  }
  #appLogo {
    width: 25vw;
  }
  #appLogoText {
    font-size: 5.55vw;
    padding-top: 1.15vw;
  }
  #companyLogo {
    margin-top: 1.2vw;
    width: 44%;
  }
  footer {
    font-size: 4.1vw;
  }
}